body {
    font-family: serif;
    background-color: rgb(198, 234, 245);
    
}
header h1 {
    background-color: rgb(75, 134, 111);
    border: thin solid rgb(30, 20, 20);
    box-shadow: 10px 10px 10px black;
    border-radius: 10px;
    padding: 20px;
    margin: 5px;
    text-align: center; 
}
    

nav {
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
    background-color:  rgb(159, 198, 190);

}
 nav a {
    display: block;
    padding: 10px;
    
    color: rgb(28, 21, 35);

 }
 nav a:hover {
    color:white;
    background-color: rgb(8, 8, 7)
 }
.family {
    display:flex;
    align-items: flex-start;
    gap: 20px;
}
.sidebar {
    width: 250px;
    font-family: 'Times New Roman', Times, serif;
}
main {
    flex: 1;
}
main h2 {
    text-align: center;
}
 .parent {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    

}
 .card {
    border: thin solid rgb(9, 9, 9);
    border-radius: 5px ;
     box-shadow: 10px 10px 10px rgb(18, 19, 18);
    width: 150px;
    margin: 10px;
    padding: 20px;
}

.card figure {
    margin: 0;
}

@media only print {
    nav {
        display: none;
        }
        
        .davin {
            margin: 100px;

        }
        
    
}


@media only screen and (max-width:600px) {
    body {
        background-color: rgb(98, 161, 122);
    }

    nav {
        flex-direction:column;
    }
    .family {
        flex-direction: column-reverse;


    }
    .sidebar {
        width: 100%;
    }
    
        
    }
    .main-card {
        order: -1    ;
    }
    


