
main h1{
    color: #30A; #3300AA
    font-size: 25pt;
}
header{
    background-color: blueviolet;
}
header h1{
    color: RGBA(244,99,300,400);
}
#firstP{
    color: blue;
}
.darker{
    color: blueviolet;
}
.bolder{
    font-weight: bolder;
}
.love{
    color: rgb(200.00.400);
}