body {
    font-family: Arial, Helvetica, sans-serif;
}
.parent {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 20% 20% 20%;
    
    gap: 10px;
}

.child {
    background-color: aqua;
     margin: 10px;
}
